h1 {
  text-align: center;
  background: -webkit-linear-gradient($primary, $secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 24px;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

.todos-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}
